body {
    background-color: #dbeee8;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0d795e;
}

img {
    border-radius: 8%;
}

h1 {
    color: #fe8373;
}

h2 {

}

h3 {

}

h4 {
    

}
